 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/08A63CAD-A5B5-4BF6-AB5E-937F69E167D8.jpg');
  background-position: 50% 50%, 50% 44.03%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3rem;
  font-weight: 600;
  margin: 257px 345px 0 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 18px 345px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 18px 345px 60px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  font-weight: 300;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 247px;
    margin-right: 145px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 145px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 251px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 178px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%, 74.21% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 148px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 14px;
  }
}