.u-section-1 .u-sheet-1 {
  min-height: 688px;
}

.u-section-1 .u-text-1 {
  font-size: 0.75rem;
  font-weight: 300;
  width: 840px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: 840px;
  font-weight: 700;
  text-transform: none;
  margin: 9px auto 60px;
}

.u-section-1 .u-btn-1 {
  text-decoration: none !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 271px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 244px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
  }
}