.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-text-1 {
  font-size: 0.75rem;
  width: 840px;
  font-weight: 300;
  margin: 392px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: 840px;
  font-weight: 700;
  text-transform: none;
  margin: 9px auto 60px;
}

.u-section-1 .u-btn-1 {
  text-decoration: none !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 346px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 24px;
  }
}