 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1179px;
}

.u-section-1 .u-gallery-1 {
  height: 989px;
  margin-top: 111px;
  margin-bottom: 60px;
  grid-gap: 10px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  --gap: 8px;
}

.u-section-1 .u-back-slide-1 {
  background-image: none;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 82.33%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

.u-section-1 .u-back-slide-2 {
  background-image: none;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

.u-section-1 .u-back-slide-3 {
  background-image: none;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 24.94%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

.u-section-1 .u-back-slide-4 {
  background-image: none;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

.u-section-1 .u-back-slide-5 {
  background-image: none;
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 56.69%;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

.u-section-1 .u-back-slide-6 {
  background-image: none;
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 56.69%;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-1 .u-gallery-1 {
    height: 855px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-gallery-1 {
    height: 707px;
    margin-top: 90px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
    grid-gap: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 38px;
    margin-bottom: 38px;
    height: 588px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1645px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-over-slide-1 {
    padding: 0;
  }

  .u-section-1 .u-over-slide-2 {
    padding: 0;
  }

  .u-section-1 .u-over-slide-3 {
    padding: 0;
  }

  .u-section-1 .u-over-slide-4 {
    padding: 0;
  }

  .u-section-1 .u-over-slide-5 {
    padding: 0;
  }

  .u-section-1 .u-over-slide-6 {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1054px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-gap: 4px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-family: Syne;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 39px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 54px;
}

.u-section-2 .u-video-1 {
  min-height: 528px;
  filter: none;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-video-2 {
  min-height: 528px;
  filter: none;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-video-3 {
  min-height: 528px;
  filter: none;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 30px;
}

.u-section-2 .u-video-4 {
  min-height: 528px;
  filter: none;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 34px;
  }

  .u-section-2 .u-video-1 {
    min-height: 470px;
  }

  .u-section-2 .u-video-2 {
    min-height: 470px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-video-3 {
    min-height: 470px;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-video-4 {
    min-height: 470px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-video-1 {
    min-height: 402px;
  }

  .u-section-2 .u-video-2 {
    min-height: 402px;
  }

  .u-section-2 .u-video-3 {
    min-height: 402px;
  }

  .u-section-2 .u-video-4 {
    min-height: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 57px;
  }

  .u-section-2 .u-video-1 {
    min-height: 296px;
  }

  .u-section-2 .u-video-2 {
    min-height: 296px;
  }

  .u-section-2 .u-video-3 {
    min-height: 296px;
  }

  .u-section-2 .u-video-4 {
    min-height: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2715px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 57px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-video-1 {
    min-height: 528px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-video-2 {
    min-height: 528px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-video-3 {
    min-height: 543px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-video-4 {
    min-height: 927px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2453px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-video-1 {
    min-height: 550px;
  }

  .u-section-2 .u-video-2 {
    min-height: 550px;
  }

  .u-section-2 .u-video-3 {
    min-height: 550px;
  }

  .u-section-2 .u-video-4 {
    min-height: 649px;
  }
}