 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/A25B4C34-A6EA-486E-B615-2527AD753D253.jpg?rand=94fd');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 827px;
}

.u-section-1 .u-text-1 {
  font-family: Syne;
  font-size: 1.1875rem;
  font-weight: 700;
  width: 762px;
  margin: 347px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 665px;
}

.u-section-2 .u-text-1 {
  font-family: Syne;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 87px auto 0 53px;
}

.u-section-2 .u-list-1 {
  width: 1214px;
  margin: 1px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 56px);
  grid-template-columns: repeat(3, calc(33.3333% - 56px));
  --gap: 84px;
  min-height: 406px;
}

.u-section-2 .u-list-item-1 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  filter: none;
  font-family: Questrial;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-family: Questrial;
  width: 269px;
  filter: none;
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-4 {
  filter: none;
  font-family: Questrial;
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-family: Questrial;
  width: 269px;
  filter: none;
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-6 {
  filter: none;
  font-family: Questrial;
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-family: Questrial;
  width: 269px;
  filter: none;
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-8 {
  filter: none;
  font-family: Questrial;
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-family: Questrial;
  width: 269px;
  filter: none;
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-5 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-text-10 {
  filter: none;
  font-family: Questrial;
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  font-family: Questrial;
  width: 269px;
  filter: none;
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-6 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-12 {
  filter: none;
  font-family: Questrial;
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-13 {
  font-family: Questrial;
  width: 269px;
  filter: none;
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    transition-duration: 0.5s;
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 1140px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 381px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 56px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 56px));
    min-height: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 42px);
    grid-template-columns: repeat(2, calc(50% - 42px));
    min-height: 626px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 42px;
    margin-bottom: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1196px;
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    --gap: 0px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 0;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before,
.u-section-2 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/08A63CAD-A5B5-4BF6-AB5E-937F69E167D8.jpg');
  background-position: 50% 50%, 0% 33.49%;
  background-size: cover, 135%;
  background-repeat: no-repeat;
}

.u-section-3 .u-sheet-1 {
  min-height: 602px;
}

.u-section-3 .u-text-1 {
  font-family: Syne;
  font-weight: 700;
  margin: 97px auto 0 53px;
}

.u-section-3 .u-text-2 {
  font-family: Syne;
  font-size: 0.875rem;
  margin: 19px 531px 0 53px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Questrial;
  transition-duration: 0.55s;
  border-style: solid;
  text-decoration: none !important;
  margin: 17px auto 60px 53px;
  padding: 10px 51px 10px 49px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 404px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 44px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 29px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #ffffff !important;
}

.u-section-3 .u-btn-1 {
  border-style: solid !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #ffffff !important;
}

.u-section-3 .u-btn-1 {
  border-style: solid !important;
} .u-section-4 {
  min-height: 431px;
}

.u-section-4 .u-text-1 {
  font-family: Syne;
  font-weight: 700;
  margin: 122px auto 0;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 80px;
  margin-top: 40px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 391px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 95px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 62px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 382px;
  }

  .u-section-4 .u-text-1 {
    width: 646px;
    margin-top: 81px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 166px);
    width: 540px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 79px;
  }
}