.u-section-1 .u-sheet-1 {
  min-height: 576px;
}

.u-section-1 .u-text-1 {
  font-family: Syne;
  font-weight: 700;
  font-size: 4.25rem;
  margin: 49px auto 0 20px;
}

.u-section-1 .u-video-1 {
  width: 684px;
  height: 375px;
  margin: 29px auto 0 616px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  font-family: Questrial;
  font-size: 1.25rem;
  margin: -364px 944px 60px 20px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-video-1 {
    margin-top: -40px;
    margin-left: 456px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 784px;
    margin-left: 30px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    margin-left: 256px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 584px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-video-1 {
    margin-left: 36px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 296px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -285px;
    margin-right: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 186px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -175px;
    margin-right: 0;
  }
}