 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 982px;
}

.u-section-1 .u-gallery-1 {
  height: 842px;
  width: 1042px;
  grid-gap: 10px;
  margin: 69px auto 60px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  --gap: 8px;
}

.u-section-1 .u-back-slide-1 {
  background-image: none;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 82.33%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

.u-section-1 .u-back-slide-2 {
  background-image: none;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

.u-section-1 .u-back-slide-3 {
  background-image: none;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 24.94%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

.u-section-1 .u-back-slide-4 {
  background-image: none;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

.u-section-1 .u-back-slide-5 {
  background-image: none;
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 56.69%;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

.u-section-1 .u-back-slide-6 {
  background-image: none;
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 56.69%;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 37px;
    height: 761px;
    width: 940px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
    grid-gap: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-1 .u-gallery-1 {
    height: 647px;
    width: 720px;
    margin-top: 38px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-gallery-1 {
    height: 487px;
    width: 540px;
    margin-bottom: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1275px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1208px;
    width: 340px;
    margin-bottom: 29px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
    grid-gap: 4px;
  }
}