.u-section-1 .u-sheet-1 {
  min-height: 4629px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-1 {
  height: 4429px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 11px;
}

.u-section-1 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 64.67%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 67.93%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 34.88%;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 34.88%;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-7 {
  object-position: 50% 34.88%;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-8 {
  margin: 0;
}

.u-section-1 .u-back-image-8 {
  object-position: 50% 40.68%;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-9 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-9 {
  object-position: 50% 34.88%;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-10 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-11 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-12 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-13 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-13 {
  object-position: 50% 34.88%;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-14 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-14 {
  object-position: 50% 79.7%;
}

.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-15 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-15 {
  object-position: 50% 34.88%;
}

.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-16 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-16 {
  object-position: 50% 34.88%;
}

.u-section-1 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-17 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-17 {
  object-position: 50% 34.88%;
}

.u-section-1 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-18 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-back-image-18 {
  object-position: 50% 34.88%;
}

.u-section-1 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3975px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 111px;
    height: 3825px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3245px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 91px;
    margin-bottom: 0;
    height: 3154px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5845px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 111px;
    margin-bottom: 40px;
    height: 5436px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 16421px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 62px;
    height: 16308px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 9886px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 57px;
    margin-bottom: 57px;
    height: 9773px;
  }
}